.MMM-DailyPrayer {
    max-width: 100vh;
    height: auto;
    max-height: 100vh;
}

.MMM-DailyPrayer .header {
    line-height: 75px;
    font-size: 65px;
}

.MMM-DailyPrayer .body {
    margin-top: 10px
}
