.MMM-DailyPrayer {
    max-width: 100vh;
    height: auto;
    max-height: auto;
    line-height: 1em;
}

.MMM-DailyPrayer .xsmall,
.MMM-DailyPrayer .default {
    max-width: 50vh;
}

.MMM-DailyPrayer .small {
    max-width: 60vh;
}

.MMM-DailyPrayer .medium {
    max-width: 75vh;
}

.MMM-DailyPrayer .large {
    max-width: 100vh;
}
